@page
@using Repository.Models;
@model Prn211Ass.Pages.Admin_Page.ViewUserParticipatedModel
@{
    ViewBag.Title = "View Clubs Events";
    Layout = "AdminPageLayout.cshtml";
}
@{
    // Retrieve the value of the LOGIN_USER session variable
    string loginUser = HttpContext.Session.GetString("LOGIN_USER");
    TblAdmin Club = Model.tblAdmin;
    TblEvent Event = Model.tblEvent;
    if (loginUser != "admin")
    {
        Response.Redirect("./LoginAdmin");

    }
}
<a href="javascript:history.back()">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAXVBMVEX///8/Pz8zMzOpqak7Ozvq6upvb29zc3M4ODglJSXw8PB+fn40NDQtLS38/Pz19fXW1tZKSkpCQkJmZmazs7OIiIigoKDe3t7Ly8sqKiqQkJCXl5dgYGB4eHhSUlK7V+JlAAAB7ElEQVR4nO3dgU7CMBjEcQpVijAQQXGAvP9jGmNMhGEkY0vXu//vBfgutLeNkG40AgAAAAAAAAAAAAAAAAAAAAAAg7dcrXKP0Kvn+Tq9bLa5x+jP6yzFEGK1fsg9SU+mVfgW01PuWXrxOA4/0ib3MH34FTCE2S73ON07CxjGb7nn6dz0LGBI89wDde0ioF7Cy4Byq/TxMqBa0zQDpmnumTrVDBiD1BW/sQdDjFJ3bVcCBgKWRH6JXisZApZEPqBjycgHpEWLQsDSye9BxxYlYFHkS0Y+IC1aOseAWktUvmQIWDr5PejYogQsinzJyAekRUvnGFBricqXTDNgWEv9y+JKwLTfTobifXlvwOYe/Io4HowqTHoIOCz1xz0B99X/n5BdtW8fcFfnnv4mdft/CB4WuYe/yeLQOuEx5h7+JvHYOuGpkIQnvsM/6e9D/S7Vvx4a3NMM/760vve+1ODZwuD50OAZ3+B3GoPf2lwjqi1Ug7oxiOi5F4lYHBpVAREVGOxFz0Y1iKi2UA3qxiCi514kYnFoVAVEVGCwFz0bVS2iwV4kogIaVYFnRLWFKn9uosHZlwbnlxqcQWtwjrDBWdAG53kbnMlucK6+wbsRDN5vYfCOkpH+e2YAAAAAAAAAAAAAAAAAAAAAALD2CRNCIQY8zsQcAAAAAElFTkSuQmCC" alt="Back icon" style="height: 50px; width: 50px; margin-right: 5px;">
    <span style="font-size: 20px;">Back</span>
</a>
<h1>@Html.DisplayFor(modelItem => Event.EventName)</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                User Id
            </th>
            <th>
                User Name
            </th>
            <th>
                User Email
            </th>
            <th>
                Date Participated
            </th>
            <th>
                Action
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.TblUser)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.UsersId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.UsersName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.UsersEmail)
                </td>
                @foreach(var eventpart in Model.TblEventParticipated)
                {
                    if(eventpart.UsersId == user.UsersId)
                    {
                <td>
                    @Html.DisplayFor(modelItem => eventpart.DateParticipated)
                </td>
                    }
                }

                <td>
                           <form method="post">
                        <input type="hidden" name="userid" value="@user.UsersId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
