@page
@model Prn211Ass.Pages.User_Page.LoginUserModel
@{
    ViewBag.Title = "View Clubs Events";
    Layout = "/Pages/Shared/LoginLayout.cshtml";
}
<body style="background-image:url('https://wallpaperfordesktop.com/wp-content/uploads/2022/08/Neon-Wallpaper-Backgrounds-1.jpg');background-size:cover;">
    <div style="display:flex;justify-content:center;align-items:center;height:100vh;">

        <form method="post" style="width:30%;background-color:#fff;border:1px solid #ccc;border-radius:5px;padding:30px;">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png" alt="Logo" style="width:50%;margin-left:75px;border-radius:50%">
            <h4> @Model.Message </h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.tbluser.UsersEmail" class="control-label">Email</label>
                <input asp-for="@Model.tbluser.UsersEmail" class="form-control" />
                <span asp-validation-for="@Model.tbluser.UsersEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.tbluser.UsersPassword" class="control-label">Password</label>
                <input asp-for="@Model.tbluser.UsersPassword" type="password" class="form-control" />
                <span asp-validation-for="@Model.tbluser.UsersPassword" type="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" style="width:100%;margin-top:20px;padding:10px;border:none;background-color:#ee4d2d;color:#fff;font-size:18px;border-radius:5px;cursor:pointer;" />
            </div>
            <div style="display:flex;justify-content:space-between;margin-top:10px;">
                <a href="#" style="color:#ee4d2d;">Forget Password?</a>
                <a asp-area="" asp-page="/Admin Page/LoginAdmin" style="color:#ee4d2d;">Sign in as Admin</a>
            </div>
        </form>
        <div class="row">
            <div class="col-md-6">
                <button onclick="location.href='@Url.Page("/LoginForAdmin")'" type="button" class="btn btn-secondary btn-block">Login for Admin</button>
            </div>
            <div class="col-md-6">
                <button onclick="location.href='@Url.Page("../UserAccount/CreateUserAccount")'" type="button" class="btn btn-secondary btn-block">Doesn't have an account? Sign up now!</button>
            </div>
        </div>

    </div>
</body>