@page
@model eventSchedule.Pages.Event.IndexUserModel
@{
   
    Layout = "UserPageLayout.cshtml";
}
<div style="display: flex; align-items: center; margin-top: 30px;">
    <form method="post" asp-page-handler="search">
    <div style="position: relative; margin-right: 10px;">
        <img src="https://cdn-icons-png.flaticon.com/512/3917/3917754.png" style="position: absolute; top: 50%; transform: translateY(-50%); left: 10px; width: 20px;">
        <input type="text" placeholder="Search here" style="padding-left: 40px; border: 1px solid #ddd; border-radius: 4px; height: 40px; width: 300px; font-size: 16px;" id="search-bar" name="searchString">
    </div>
    <button style="background-color: #fcbf49; color: #fff; border: none; border-radius: 4px; padding: 8px 16px; margin-right: 10px; font-weight: bold; font-size: 14px;">Search</button>
    
</form>
<div style="position: relative; margin-left: auto;">
        <select style="height: 40px; border: 1px solid #ddd; border-radius: 4px; padding-left: 10px; font-size: 16px;">
            <option value="" hidden>Category</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>
    </div>
    <div style="position: relative; margin-left: 10px;">
        <select style="height: 40px; border: 1px solid #ddd; border-radius: 4px; padding-left: 10px; font-size: 16px;">
            <option value="" hidden>Sort By</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>
    </div>
    <a asp-page="./JoinedEvents">Joined event</a>
</div>
<div style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 30px;">

    @foreach (var item in Model.TblEvent)
    {
        <div style="flex-basis: calc(33.33% - 30px); background-color: #fff; border: 1px solid #ddd; padding: 30px; margin-bottom: 30px; box-shadow: 0 0 5px rgba(0,0,0,.1);">
            <div style="font-weight: bold; font-size: 18px; margin-bottom: 20px;">
                @Html.DisplayFor(modelItem => item.EventName)
            </div>
            <div style="font-size: 16px; color: #555; margin-bottom: 20px;">
                @Html.DisplayFor(modelItem => item.EventStart) - @Html.DisplayFor(modelItem => item.EventEnd)
            </div>
            <div>
                <a style="display: inline-block; padding: 8px 16px; background-color: #fcbf49; color: #fff; text-decoration: none; border-radius: 4px; font-weight: bold; font-size: 14px;" asp-page="./EventDetailUser" asp-route-id="@item.EventId">View Details</a>
                <form method="post">
                 <a style="display: inline-block; padding: 8px 16px; background-color: #fcbf49; color: #fff; text-decoration: none; border-radius: 4px; font-weight: bold; font-size: 14px;" asp-page="./JoinedEventCheck" asp-route-id="@item.EventId">Join Event</a>
                 </form>
            </div>
        </div>
    }
</div>
                            


