@page
@model eventSchedule.Pages.Users.UserAccount.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].UsersName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].UsersEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].UsersPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].UsersAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].UsersPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsersEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsersPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsersAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsersPassword)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UsersId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UsersId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UsersId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
