@page
@model eventSchedule.Pages.Users.UserAccount.UserDetailsModel
@{
    
}

<h1>User Detail</h1>

@if (Model.User != null)
{
        <p>Name: @Model.TblUser.UsersName</p>
    <p>Email: @Model.TblUser.UsersEmail</p>
    <p>Phone: @Model.TblUser.UsersPhone</p>
    <p>Address: @Model.TblUser.UsersAddress</p>
}
else
{
        <p>User not found.</p>
}
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TblUser.UsersId">Edit profile</a>
</div>
<div>
    <a asp-page="./Delete" asp-route-id="@Model.TblUser.UsersId">Delete</a>
</div>
<div>
    <a asp-page="../UserEvent/UserMainPage">Back to Event</a>
</div>
