@page
@using Repository.Models;
@model Prn211Ass.Pages.Club_Page.ClubMainPageModel
@{
    ViewBag.Title = "View Clubs";
    Layout = "ClubPageLayout.cshtml";
}
@{
    // Retrieve the value of the LOGIN_USER session variable
    string loginUser = HttpContext.Session.GetString("LOGIN_USER");
    TblAdmin Club = Model.tblAdmin;
    if (loginUser != "club")
    {
        Response.Redirect("./LoginAdmin");

    }
}


<h1>@Club.AdminName</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Event Id
            </th>
            <th>
                Event Name
            </th>
            <th>
                Event Date Start
            </th>
            <th>
                Event Date End
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.tblEvent)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventEnd)
                </td>

                <td>
                    <a asp-page="./ViewClubDetailsPage" asp-route-id="@item.EventId">View Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.AdminId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
